div#div-lists {
}
div#div-lists ul#lists {
  list-style:none;
}
div#div-lists ul#lists li {
  font-size:1.2em;
}

/*
    Le formulaire de création/édition d'une liste

 */
form#list-form {
  background-color:white;
  opacity:0.95;
  position:fixed;
  top:0px;
  left:20%;
  z-index:100;
}

form#list-form ul#list-steps {
  max-height:208px;
  overflow:auto;
}
