.listbox-oslike {
  border:1px solid #CCCCCC;
  /* border-radius:3px; */
  margin:1em;
  min-height:200px;
  min-width:200px;
  /* max-width:400px; */
  display:grid;
  grid-template-columns: 30pt 30pt auto;
  grid-template-rows: auto 30pt;
}
.listbox-oslike ul {
  grid-column:1/4;
  grid-row:1;
  list-style:none;
  margin:0;
  padding:0;
  border-bottom:1px solid #CCCCCC;
}
.listbox-oslike ul li {
  padding: 2px 12px;
  cursor:pointer;
}
.listbox-oslike ul li:nth-child(even){
  background-color:#EEEEEE;
}
.listbox-oslike ul li:nth-child(odd){
  background-color:#FFFFFF;
}
.listbox-oslike ul li.selected,
.listbox-oslike ul li.current {
  background-color:#d6fbd1;
}

.listbox-oslike .other-btns {
  display:grid;
  grid-template-columns: 30pt 30pt 30pt auto;
  grid-template-rows: auto;
  line-height:30pt;
}
.listbox-oslike .other-btns .btn {grid-row:1}
.listbox-oslike .other-btns .btn.btn-edit {
  grid-column:1;
}
.listbox-oslike .other-btns .btn.btn-show {
  grid-column:2;
}

.listbox-oslike .btn {
  display:inline-block;
  color: #666666;
  border-right:1px solid #CCCCCC;
  text-align:center;
  cursor:pointer;
  /* height:28px; */
}

.listbox-oslike .btn:active {
  background-color:green;
  color:white;
}
.listbox-oslike .btn-plus,
.listbox-oslike .btn-moins
{
  font-size: 20pt;
}
.listbox-oslike .btn-plus {
  grid-column:1;
  grid-row:2;
}
.listbox-oslike .btn-moins {
  grid-column:2;
  grid-row:2;
}
