.fleft {float:left;}
.fright {float:right;}
.right{
  text-align:right;
}
/*
  Styles
 */
.bold { font-weight: bold; }
.italic { font-style: italic;}
.warning {color:red;}
.notice { color: blue; }

.noDisplay,
.notDisplayed {display:none}
.hidden {visibility:hidden;}
.visible {visibility:visible;}
